.background-color{
    background-color: #EFEFEF
}

p, ul, li {
    text-align: center;
}
#header {
    background-color: whitesmoke
    position: relative; 
    top: 15px
}
h1 {
    box-shadow: 0 5px 10px;
    text-align: center;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width:350px;
    max-height:350px;
}
.quail {
    float:left
}
.sparrow {
    float:right
}